<body class="horizontal-layout horizontal-menu 1-column  bg-full-screen-image blank-page blank-page" data-open="hover"
  data-menu="horizontal-menu" data-color="bg-gradient-x-purple-blue" data-col="1-column">
  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
      </div>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-4 col-sm-8 col-md-6 col-15 col-xl-4 box-shadow-2">
              <div class="card border-grey border-lighten-3  m-0">
                <div>
                  <br>
                  <div class="text-center mb-1">
                    <img (click)="login()" src="assets/app-assets/images/logo/logo.png" alt="branding logo">
                  </div>
                  <div class="font-medium-4  text-center">
                    Recupera tú Contraseña
                  </div>

                </div>
                <div class="card-content">
                  <div class="card-body">
                    <form class="form-horizontal" [formGroup]="validations_form" #form="ngForm" (ngSubmit)="recover(form)">
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="email" class="form-control round" id="email"
                        placeholder="Tu correo electrónico" formControlName="email"
                        (ngModelChange)="recoverFormValidator.email.empty='';">
                        <div class="form-control-position">
                          <i class="ft-mail"></i>
                        </div>
                      </fieldset>
                      <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.email">
                          <div class="error-message"
                            *ngIf="recoverFormValidator.email.empty || validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                           {{ validation.message }}
                          </div>
                        </ng-container>
                      </div>
                      <div class="form-group text-center">
                        <button type="submit"
                          class="btn round btn-block btn-glow btn-bg-gradient-x-orange-yellow col-12 mr-1 mb-1"><a style="color: #ffffff;">Enviar</a></button>
                      </div>
                    </form>
                    <div class="d-flex justify-content-center"  *ngIf="loading">
                      <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                       <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                    <span>Revisa el enlace en tu correo electrónico.</span>
                  </h6>
                  </div>
                </div>
                <div class="card-footer border-0 p-0">
                  <p class="float-sm-center font-small-3  text-center">¿No tienes una cuenta?
                    <a (click)="registry()" class="card-link">Registrate</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- END: Content-->
</body>
